:root {
	--bg-color-1: white;
	--bg-color-2: #2F2F2B;
	--text-color-1: #FF7129;
}

.nav-wrapper {
	background-color: var(--bg-color-2);
}

.title {
	color : var(--text-color-1);
	font-family: "Dancing Script", cursive;
}

.hidden {
	display:none;
}

.brand-logo i {
	font-size : 2rem !important;
}

.btn {
	background-color: var(--text-color-1)
}

.btn:hover {
	background-color: var(--text-color-1)
}

[type="radio"]:not(:checked), [type="radio"]:checked {
	opacity: 1;
	position: relative;
	pointer-events: auto;
}

.is-hidden {
	display: none;
}

#difficulty label {
	font-size: 1rem;
	color: black;
}

.image-btn {
	background-color: var(--text-color-1);
	position: absolute;
	bottom: 0;
	left: 0;
	padding : 10px;
	margin: 10px;
	border-radius: 2px;
	font-style: none;
	color: white;
	letter-spacing: .5px;
	font-size: 14px;
	text-transform: uppercase;
}

.add-btn {
	position: absolute;
	left: 0;
	bottom: 0;
}