{% extends 'base.html' %}

{% import "macros.html" as macros %}

{% block content %}
<h1 class="center-align title">Nouvelle Recette</h1>

<div class="container">
	<div class="row">
	<div class="card col s12">
	<div class="card-content">
		<form method="POST" action="{{ url_for('main_bp.addrecipe') }}" class="col s12" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<div class="input-field row">
				{{ form.name.label }}
				{{ form.name }}
				{% if form.name.errors %}
				{% for error in form.name.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>

			<div class="row" >
			<div class="col s6">
				{{ form.difficulty.label }}
				{{ form.difficulty }}
				{% if form.difficulty.errors %}
				{% for error in form.difficulty.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>


			<div class="input-field col s6">
				<span>{{ form.time_.label }}</span>
				{{ form.time_(type="time") }}
				{% if form.time_.errors %}
				{% for error in form.time_.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>
			</div>


			<div class="row btn" id="addIngredient">
				ajouter un ingrédient
			</div>
			{# Show all ingredient subforms #}
			<div id="ingredient_subforms_container" class="row">
				{% for subform_ing in form.ingredients %}
					{{ macros.render_ingredient_form(subform_ing, loop.index0) }}
				{% endfor %}
			</div>

			<div class="row btn" id="addStep">
				ajouter une étape
			</div>


			{# Show all step subforms #}
			<div id="step_subforms_container">
				{% for subform_step in form.steps %}
					{{ macros.render_step_form(subform_step, loop.index0) }}

				{% endfor %}
			</div>

			<div class="file-field input-field">
				<div class="btn">
					<span>File</span>
					{{ form.photo }}
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>

			<div class="row">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				{% endwith %}
			</div>

			<div class="input-field">
				{{ form.submit(class='btn') }}
			</div>
		</form>
	</div>
	</div>
	</div>

	{# Form template #}
    {{ macros.render_ingredient_form(template1, '_') }}
    {{ macros.render_step_form(template2, '_') }}
</div>
{% endblock %}