{% extends 'base.html' %}

{% block content %}
<article class="container">

	<h3 class = "center-align title">Pour vous inscrire, rentrez ces informations</h3>
	<div class= "row">
	<div class= "card col s12 m6 offset-m3">
	<div class= "card-content">
		<form method='POST' class="col s12">
			{{ form.csrf_token }}
			<div class="input-field">
				{{ form.pseudo.label }}
				{{ form.pseudo(size=20) }}
				{% if form.pseudo.errors %}
				{% for error in form.pseudo.errors %}
					<span class="helper-text" data-error="wrong">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>
			<div class="input-field">
				{{ form.password.label }}
				{{ form.password }}
				{% if form.password.errors %}
				{% for error in form.password.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>
			<div class="input-field">
				{{ form.confirmPassword.label }}
				{{ form.confirmPassword }}
				{% if form.confirmPassword.errors %}
				{% for error in form.confirmPassword.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>
			<div class="input-field">
				{{ form.email.label }}
				{{ form.email }}
				{% if form.email.errors %}
				{% for error in form.email.errors %}
					<span class="helper-text">{{ error }}</span>
				{% endfor %}
				{% endif %}
			</div>

			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
			
			<div class="input-field">
				{{ form.submit(class='btn') }}
			</div>
		</form>
	</div>
	</div>
	</div>

</article>
{% endblock %}